<?xml version="1.0" encoding="UTF-8"?>

<beans>

	<bean id="nodeManager" class="org.entermedia.elasticsearch.ElasticNodeManager">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="xmlUtil">
			<ref bean="xmlUtil" />
		</property>
		<property name="webServer"><ref bean="WebServer" /></property>		
	</bean>

<!-- Remove this one day -->
	<bean id="elasticTransientSearcher"	class="org.entermedia.elasticsearch.searchers.BaseElasticSearcher"	scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
	</bean>

	<bean id="elasticDataSearcher"	class="org.entermedia.elasticsearch.searchers.BaseElasticSearcher"	scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
	</bean>


	<!-- Use beans.xml to enable this one -->
	<bean id="elasticAssetSearcher" class="org.openedit.entermedia.search.BaseAssetSearcher"
		scope="prototype">
		<property name="dataConnector">
			<ref bean="elasticAssetDataConnector" />
		</property>
		<property name="webEventListener">
			<ref bean="mediaEventHandler" />
		</property>
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
		
	</bean>

	<bean id="elasticAssetDataConnector"
		class="org.entermedia.elasticsearch.searchers.ElasticAssetDataConnector"
		scope="prototype">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		<property name="xmlArchive">
			<ref bean="xmlArchive" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="assetSecurityArchive">
			<ref bean="assetSecurityDataArchive" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>				
		<property name="dataFileName">
			<value>data.xml</value>
		</property>
	</bean>

	<bean id="elasticUserSearcher"
		class="org.entermedia.elasticsearch.searchers.ElasticUserSearcher"
		scope="prototype"
		>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
			
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>	
				
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
			
	
	</bean>
	<bean id="elasticGroupSearcher"
		class="org.entermedia.elasticsearch.searchers.ElasticGroupSearcher"
		scope="prototype"
		>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		
	</bean>

	<bean id="elasticLockSearcher" class="org.entermedia.elasticsearch.searchers.LockSearcher" scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="newDataName"><value>lock</value></property>
		<property name="checkVersions"><value>true</value></property>
		<property name="clearIndexOnStart"><value>true</value></property>
		
	</bean>
	<bean id="elasticLockManager" class="org.openedit.entermedia.cluster.ClusterLockManager" >
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="nodeManager">
			<ref bean="nodeManager" />
		</property>
	</bean>
    <bean id="elasticXmlUserProfileSearcher" class="org.entermedia.elasticsearch.searchers.ElasticXmlFileSearcher" scope="prototype">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		<property name="xmlArchive">
			<ref bean="xmlArchive" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="sourcePathCreator"><ref bean="chunkySourcePathCreator"/></property>		
		<property name="prefix"><value>users</value></property>
		<property name="newDataName"><value>userProfile</value></property>
	</bean>
	<bean id="elasticUserProfileSearcher" class="org.entermedia.elasticsearch.searchers.BaseElasticSearcher" scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="newDataName"><value>userProfile</value></property>		
	</bean>
	
	<bean id="elasticXmlOrderItemSearcher" class="org.entermedia.elasticsearch.searchers.ElasticXmlFileSearcher" scope="prototype">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>
		<property name="xmlArchive">
			<ref bean="xmlArchive" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="sourcePathCreator"><ref bean="chunkySourcePathCreator"/></property>		
		<property name="prefix"><value>assets</value></property>
	</bean>

	<bean id="elasticOrderItemSearcher" class="org.entermedia.elasticsearch.searchers.BaseElasticSearcher" scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
	</bean>


	<bean id="elasticListSearcher" class="org.entermedia.elasticsearch.searchers.ElasticListSearcher" scope="prototype">
		<property name="xmlSearcher">
			<ref bean="xmlSearcher" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
	</bean>

	<bean id="elasticFolderSearcher" class="org.entermedia.elasticsearch.searchers.ElasticListSearcher" scope="prototype">
		<property name="xmlSearcher">
			<ref bean="xmlFolderSearcher" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
	</bean>


<bean id="elasticCategorySearcher" class="org.entermedia.elasticsearch.categories.ElasticCategorySearcher" scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="newDataName"><value>elasticCategory</value></property>
		<property name="checkVersions"><value>false</value></property>
	</bean>

	<bean id="elasticCategory" class="org.entermedia.elasticsearch.categories.ElasticCategory" scope="prototype" >
	</bean>	
	
<bean id="elasticCategoryArchive" class="org.entermedia.elasticsearch.categories.SearcherCategoryArchive"
		scope="prototype">
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
				<property name="searcherManager"><ref bean="searcherManager" /></property>
		
		
		
	</bean>
	
	<bean id="elasticOrderSearcher" class="org.entermedia.elasticsearch.searchers.ElasticOrderSearcher" scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
		<property name="orderManager"><ref bean="orderManager" /></property>
		<property name="newDataName"><value>order</value></property>
    </bean>
	
	
<bean id="elasticXmlOrderSearcher" class="org.entermedia.elasticsearch.searchers.ElasticXmlOrderSearcher" scope="prototype">
		<property name="pageManager">
			<ref bean="pageManager" />
		</property>

		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
		<property name="orderManager"><ref bean="orderManager" /></property>
		<property name="xmlArchive"><ref bean="xmlArchive" /></property>
		<property name="newDataName"><value>order</value></property>
</bean>


	<bean id="assetAutoCompleteElasticSearcher" class="org.entermedia.elasticsearch.searchers.ElasticAutoCompleteSearcher" scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>		
		<property name="refreshSaves"><value>false</value></property>
		<property name="checkVersions"><value>false</value></property>
	</bean>
	
	
	
	<bean id="elasticLogSearcher"
		class="org.entermedia.elasticsearch.searchers.ElasticLogSearcher"
		scope="prototype">
		<property name="elasticNodeManager">
			<ref bean="nodeManager" />
		</property>
		<property name="moduleManager">
			<ref bean="moduleManager" />
		</property>
		<property name="searcherManager">
			<ref bean="searcherManager" />
		</property>
		<property name="refreshSaves"><value>false</value></property>
		<property name="checkVersions"><value>false</value></property>
						
		
	</bean>
	
	
	
	
</beans>
